<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>

        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
        
        <h1>Index page</h1> <h1><%= currentUser.username %> : current user</h1>

        <table>
            <tr>
                <td>Name:</td>
                <td>Did It Work?</td>
                <td>My Rating</td>
                <td>Results:</td>
                <td>Notes:</td>
            </tr>
            <tr>
            <%for (let i = 0; i < practices.length; i++) { %>
                <td><button type="button" name="button"
                    onclick="window.location.href='/home/index/<%=practices[i].id%>/edit'"
                    >Edit</button></td>

                <td><%=practices[i].name%></td>

                <td>
                    <form action="/home/index/<%=practices[i].id%>?_method=DELETE" method="POST">
                        <button>Remove</button>
                    </form>
                </td>
                <td><%=practices[i].didItWork%></td>
                <td><%=practices[i].myRating%></td>
                <td><%=practices[i].results%></td>
                <td><%=practices[i].notes%></td>
            </tr>
            <%}%>
        </table>

        <button type="button" onclick="window.location.href='/home/index/new'">Add System</button>

    </body>
</html>
