<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Show.ejs</title>
    </head>
    <body>
        
        <h1> <%= practices.name%>        </h1>
        <h1> <%= practices.didItWork%>   </h1>
        <h1> <%= practices.myRating%>    </h1>
        <h1> <%= practices.results%>     </h1>
        <h1> <%= practices.notes%>       </h1>

    </body>
</html>
